@charset "UTF-8";

h1, h2, h3, h4 { font-family: "Microsoft Yahei"; }
label { font-family: "Microsoft Yahei"; }
strong { font-family: "Microsoft Yahei"; }

table { table-layout: fixed; }
table th { font-family: "Microsoft Yahei"; }
table th, table td { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

dl dt { font-family: "Microsoft Yahei"; }
dl dd { margin-bottom: 10px; }

.btn-lg, .navbar-brand { font-family: "Microsoft Yahei"; }