<!DOCTYPE html>
<html lang="zh_CN">
    <head>
        <meta charset="${config.encoding}" />
        <meta http-equiv="Cache-Control" content="no-cache" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>${config.site_name} - 出错啦!</title>
        <base href="/" />
        <link rel="stylesheet" href="css/bootstrap.css" />
        <link rel="stylesheet" href="css/base.css" />
    </head>
    <body>
        <div class="container">
            <div class="content-error">
                <div class="page-header">
                    <h1><span class="glyphicon glyphicon-warning-sign"></span> 出错啦!</h1>
                </div>
                <div class="alert alert-danger">
                    <h4>${status}</h4>
                    <p>${message}</p>
                </div>
                <button class="btn btn-primary btn-lg" onclick="history.back()"><span class="glyphicon glyphicon-hand-left"></span> 返回</button>
            </div>
        </div>
    </body>
</html>
