        <footer class="page-bottom">
            <div class="container">
                <div class="row">
                    <address class="span4 muted">联系我: <a href="mailto:panhaichun@gmail.com">panhaichun@gmail.com</a></address>
                    <address class="span4 muted">QQ: 285299451</address>
                    <address class="span4 muted">Github: <a href="http">项目地址</a></address>
                </div>
                <p class="muted">Copyright &copy; <a href="http://www.panzixuan.com" target="_blank">panzixuan.com</a> 版权所有</p>
            </div>
        </footer>
        <a class="affix hide" id="back-to-top" href="#"></a>
    </body>
</html>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/base.js"></script>
<script type="text/javascript">
    $(function() {
        $(window).scroll(function() {
            if ($(window).scrollTop() > 64) {
                $("#back-to-top").fadeIn(200);
            } else {
                $("#back-to-top").fadeOut(200);
            }
        });
        var ctth = $(window).height() - $("header.navbar-fixed-top").outerHeight(true) - $("footer.page-bottom").outerHeight(true) - 20;
        $(".page-content").css({ "minHeight": ctth + "px" });
    });
</script>
