        <footer class="page-bottom">
            <div class="container">
                <div class="row">
                    <address class="col-md-4 text-muted">联系我: <a href="mailto:panhaichun@gmail.com">panhaichun@gmail.com</a></address>
                    <address class="col-md-4 text-muted">QQ: 285299451</address>
                    <address class="col-md-4 text-muted">Github: <a href="https://github.com/panhaichun/panzixuan" target="_blank">项目地址</a></address>
                </div>
                <p class="text-muted">Copyright &copy; <a href="http://www.panzixuan.com" target="_blank">panzixuan.com</a> 版权所有</p>
            </div>
        </footer>
        <a class="affix" id="back-to-top" href="javascript:"></a>
    </body>
</html>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script>
    var _ctH = $(window).height() - $("header.navbar-fixed-top").outerHeight(true) - $("footer.page-bottom").outerHeight(true);
    $("body > .container").css({ "minHeight": _ctH + "px" });
    
    $("#back-to-top").click(function() { $("body").scrollTop(0); });
    $("#back-to-top").hide();
    $(window).scroll(function() {
        if ($(window).scrollTop() > 64) {
            $("#back-to-top").fadeIn(200);
        } else {
            $("#back-to-top").fadeOut(200);
        }
    });
</script>
