<!DOCTYPE html>
<html lang="zh_CN">
    <head>
        <meta charset="${config.encoding}" />
        % if subtitle:
        <title>${config.site_name} - ${subtitle}</title>
        % else:
        <title>${config.site_name}</title>
        % endif
        <meta http-equiv="Cache-Control" content="no-cache" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        % if metas:
        % for meta in metas:
        <meta name="${meta.name}" content="${meta.content}">
        % endfor
        % endif
        <base href="/" />
        <link rel="stylesheet" href="css/bootstrap.css" />
        <link rel="stylesheet" href="css/base.css" />
        % if styles:
        % for style in styles:
        <link rel="stylesheet" href="${style}" />
        % endfor
        % endif
    </head>
    <body>
        <header class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h1><a href=""><span class="glyphicon glyphicon-home"></span> 梓萱，Happy Everyday</a></h1>
                    </div>
                    <div class="col-md-5">
                        <div class="pull-right">
                            <a href="blog" class="btn btn-success btn-lg active"><span class="glyphicon glyphicon-book"></span> 日志</a>
                            <a href="album" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-camera"></span> 剪影</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <form class="pull-right" action="search" method="get">
                            <div class="input-group">
                                <input type="text" name="keyword" value="${top_keyword if top_keyword else ''}" class="form-control" placeholder="我想找..." />
                                <span class="input-group-addon btn btn-primary" onclick="$(this).parents('form').submit();">
                                    <span class="glyphicon glyphicon-search"></span>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            % if principal:
            <div class="control-box affix">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="profile"><span class="glyphicon glyphicon-expand"></span> ${principal.get_prototype().name}</a></li>
                      <li class="divider"></li>
                      <li><a href="logout" onclick="return confirm('确定要退出吗?');"><span class="glyphicon glyphicon-log-out"></span> 退出</a></li>
                    </ul>
                </div>
                % if principal.get_prototype().contains_role('MANAGEMENT'):
                <div class="clearfix"></div>
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="blog/add"><span class="glyphicon glyphicon-edit"></span> 日志</a></li>
                        <li><a href="album/add"><span class="glyphicon glyphicon-edit"></span> 相片</a></li>
                        <li class="divider"></li>
                        <li><a href="user"><span class="glyphicon glyphicon-wrench"></span> 系统</a></li>
                    </ul>
                </div>
                % endif
            </div>
            % endif
        </header>