<%include file="../include/header.html" />
        <section class="page-content">
            <div class="container">
                <div class="content-wrap">
                    <div class="content">
                        <ul class="nav nav-tabs">
                            <li class="active"><a>我的个人信息</a></li>
                            <li><a href="javascript: history.back()">返回</a></li>
                        </ul>
                        <dl>
                            <dt>用户名</dt>
                            <dd>${model.username}</dd>
                            <dt>姓名</dt>
                            <dd>${model.name}</dd>
                            <dt>所属组</dt>
                            <dd>
                                % for g in model.get_belong_groups():
                                ${g.name} [${g.description}]<br />
                                % endfor
                            </dd>
                            <dt>拥有角色</dt>
                            <dd>
                                % for r in model.get_contain_roles():
                                ${r.name} [${r.description}]<br />
                                % endfor
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </section>
<%include file="../include/footer.html" />