<%include file="../include/header.html" />
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="content">
                        <h4 class="wrap"><span class="glyphicon glyphicon-user"></span> ${auth.get_principal().get_prototype().name}</h4>
                        <div class="list-group wrap">
                            <a href="javascript:" class="list-group-item active">
                                <span class="glyphicon glyphicon-folder-open"></span> 个人信息 <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                            </a>
                            <a href="profile/password/edit" class="list-group-item">
                                <span class="glyphicon glyphicon-folder-close"></span> 密码 <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                            </a>
                            <a href="profile/log" class="list-group-item">
                                <span class="glyphicon glyphicon-folder-close"></span> 日志 <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="content">
                        <ul class="nav nav-pills wrap">
                            <li class="active"><a href="javascript:"><span class="glyphicon glyphicon-expand"></span> 查看</a></li>
                            <li><a href="profile/edit"><span class="glyphicon glyphicon-edit"></span> 修改</a></li>
                            <li class="pull-right"><a href="javascript: history.back();"><span class="glyphicon glyphicon-hand-left"></span> 返回</a></li>
                        </ul>
                        <dl class="dl-horizontal wrap">
                            <dt>用户名</dt>
                            <dd>${model.username}</dd>
                            <dt>姓名</dt>
                            <dd>${model.name}</dd>
                            <dt>所属组</dt>
                            <dd>
                                % for g in model.get_belong_groups():
                                ${g.name} [${g.description}]<br />
                                % endfor
                            </dd>
                            <dt>拥有角色</dt>
                            <dd>
                                % for r in model.get_contain_roles():
                                ${r.name} [${r.description}]<br />
                                % endfor
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
<%include file="../include/footer.html" />