<%include file="../include/header.html" />
        <%def name="S(x)">${x if x else ''}</%def>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="content">
                        <div class="panel panel-menu">
                            <div class="panel-heading"><h4><span class="glyphicon glyphicon-cog"></span> 系统管理</h4></div>
                        </div>
                        <div class="list-group wrap">
                            <a href="javascript:" class="list-group-item active">
                                <span class="glyphicon glyphicon-folder-open"></span> 用户 <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                            </a>
                            <a href="group" class="list-group-item">
                                <span class="glyphicon glyphicon-folder-close"></span> 组 <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                            </a>
                            <a href="log" class="list-group-item">
                                <span class="glyphicon glyphicon-folder-close"></span> 日志 <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="content">
                        <ul class="nav nav-pills wrap">
                            <li class="active"><a href="javascript:"><span class="glyphicon glyphicon-plus"></span> 创建</a></li>
                            <li><a href="user"><span class="glyphicon glyphicon-list"></span> 列表</a></li>
                            <li class="pull-right"><a href="javascript: history.back();"><span class="glyphicon glyphicon-hand-left"></span> 返回</a></li>
                        </ul>
                        <form action="user" method="post" class="wrap" style="width: 320px;">
                            <div class="form-group">
                                <label for="username"><font color="#ff0000">*</font>用户名</label>
                                <input type="text" id="username" name="username" class="form-control" required="required" maxlength="16" />
                            </div>
                            <div class="form-group">
                                <label for="password">密码</label>
                                <input type="password" id="password" name="password" class="form-control" maxlength="16" />
                            </div>
                            <div class="form-group">
                                <label for="name"><font color="#ff0000">*</font>姓名</label>
                                <input type="text" id="name" name="name" class="form-control" required="required" maxlength="32" />
                            </div>
                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> 提交</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
<%include file="../include/footer.html" />