<%include file="../include/header.html" />
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="content">
                        <h4 class="mtb20"><span class="glyphicon glyphicon-cog"></span> 系统管理</h4>
                        <div class="list-group">
                            <a href="user" class="list-group-item active">
                                <span class="glyphicon glyphicon-folder-open"></span> 用户 <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                            </a>
                            <a href="group" class="list-group-item">
                                <span class="glyphicon glyphicon-folder-close"></span> 组 <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                            </a>
                            <a href="log" class="list-group-item">
                                <span class="glyphicon glyphicon-folder-close"></span> 日志 <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="content">
                        <ul class="nav nav-pills mtb20">
                            <li class="active"><a href="javascript:"><span class="glyphicon glyphicon-wrench"></span> 设置组</a></li>
                            <li class="pull-right"><a href="javascript: history.back();"><span class="glyphicon glyphicon-hand-left"></span> 返回</a></li>
                        </ul>
                        <form action="user/${model.id}/groups" method="post" class="mb20">
                            <fieldset class="mb20">
                                <input type="hidden" name="_method" value="put" />
                                <legend><h4>${model.name}</h4></legend>
                                % for group in groups:
                                <div class="checkbox">
                                    <label><input type="checkbox" name="group_id" value="${group.id}" ${'''checked="checked" ''' if group in model.groups else ''}/> ${group.name} [${group.description}]</label>
                                </div>
                                % endfor
                            </fieldset>
                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> 提交</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
<%include file="../include/footer.html" />