<%include file="../include/header.html" />
        <%def name="S(x)">${x if x else ''}</%def>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="content">
                        <h4 class="mtb20"><span class="glyphicon glyphicon-cog"></span> 系统管理</h4>
                        <div class="list-group">
                            <a href="javascript:" class="list-group-item active">
                                <span class="glyphicon glyphicon-folder-open"></span> 用户 <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                            </a>
                            <a href="group" class="list-group-item">
                                <span class="glyphicon glyphicon-folder-close"></span> 组 <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                            </a>
                            <a href="log" class="list-group-item">
                                <span class="glyphicon glyphicon-folder-close"></span> 日志 <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="content">
                        <ul class="nav nav-pills mtb20">
                            <li class="active"><a href="javascript:"><span class="glyphicon glyphicon-list"></span> 列表</a></li>
                            <li><a href="user/add"><span class="glyphicon glyphicon-plus"></span> 创建</a></li>
                            <li class="pull-right"><a href="javascript: history.back();"><span class="glyphicon glyphicon-hand-left"></span> 返回</a></li>
                        </ul>
                        <form action="user" method="get" class="form-search mb20">
                            <div class="input-group">
                                <input type="text" name="keyword" value="${S(keyword)}" class="form-control" placeholder="用户名或姓名" />
                                <span class="input-group-addon btn btn-primary" onclick="$(this).parents('form').submit();" title="查询">
                                    <span class="glyphicon glyphicon-search"></span>
                                </span>
                            </div>
                        </form>
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th width="192">用户名</th>
                                    <th>姓名</th>
                                </tr>
                            </thead>
                            <tbody>
                                % for item in pagination.records:
                                <tr>
                                    <td><a href="user/${item.id}">${item.username}</a></td>
                                    <td>${item.name}</td>
                                </tr>
                                % endfor
                            </tbody>
                        </table>
                        <% action = 'user?keyword=' + (keyword if keyword else '') %>
                        <%namespace name="paginate" file="../include/pagination.html" />
                        ${paginate.show(action, pagination)}
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
<%include file="../include/footer.html" />