<%include file="../include/header.html" />
        <%def name="S(x)">${x if x else ''}</%def>
        <section class="page-content">
            <div class="container">
                <div class="content-wrap">
                    <div class="content">
                        <ul class="nav nav-tabs">
                            <li class="active"><a>创建组</a></li>
                            <li><a href="javascript: history.back()">返回</a></li>
                        </ul>
                        <form action="group" method="post">
                            <input type="hidden" name="parent_id" value="${S(parent_id)}" />
                            <fieldset>
                                <label for="name"><font color="#FF0000">*</font>名称</label>
                                <input type="text" id="name" name="name" required="required" maxlength="32" />
                                <label for="description">描述</label>
                                <textarea id="description" name="description" rows="3" maxlength="128"></textarea>
                            </fieldset>
                            <button class="btn btn-primary">提交</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
<%include file="../include/footer.html" />